<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="c043c0c5bd524a3f83d5c320620cb5b3" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_c043c0c5bd524a3f83d5c320620cb5b3 = echarts.init(
            document.getElementById('c043c0c5bd524a3f83d5c320620cb5b3'), 'white', {renderer: 'canvas'});
        var option_c043c0c5bd524a3f83d5c320620cb5b3 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5927\u5b66\u603b\u5206\u67f1\u72b6\u56fe",
            "legendHoverLink": true,
            "data": [
                969.2,
                855.3,
                768.7,
                723.4,
                654.8,
                649.7,
                577.0,
                574.3,
                567.9,
                537.9,
                522.6,
                519.3,
                518.3,
                516.6,
                513.8,
                508.3,
                488.1,
                487.8,
                474.0,
                465.3,
                447.0,
                444.3,
                442.2,
                435.7,
                430.5,
                427.8,
                419.8,
                418.2,
                401.8,
                400.4
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5c0f\u503c",
                        "type": "min"
                    },
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    },
                    {
                        "name": "\u5e73\u5747\u503c",
                        "type": "average"
                    }
                ]
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5927\u5b66\u603b\u5206\u67f1\u72b6\u56fe"
            ],
            "selected": {
                "\u5927\u5b66\u603b\u5206\u67f1\u72b6\u56fe": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "name": "\u5927\u5b66\u540d\u79f0",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u6e05\u534e\u5927\u5b66",
                "\u5317\u4eac\u5927\u5b66",
                "\u6d59\u6c5f\u5927\u5b66",
                "\u4e0a\u6d77\u4ea4\u901a\u5927\u5b66",
                "\u5357\u4eac\u5927\u5b66",
                "\u590d\u65e6\u5927\u5b66",
                "\u4e2d\u56fd\u79d1\u5b66\u6280\u672f\u5927\u5b66",
                "\u534e\u4e2d\u79d1\u6280\u5927\u5b66",
                "\u6b66\u6c49\u5927\u5b66",
                "\u897f\u5b89\u4ea4\u901a\u5927\u5b66",
                "\u54c8\u5c14\u6ee8\u5de5\u4e1a\u5927\u5b66",
                "\u4e2d\u5c71\u5927\u5b66",
                "\u5317\u4eac\u5e08\u8303\u5927\u5b66",
                "\u56db\u5ddd\u5927\u5b66",
                "\u5317\u4eac\u822a\u7a7a\u822a\u5929\u5927\u5b66",
                "\u540c\u6d4e\u5927\u5b66",
                "\u4e1c\u5357\u5927\u5b66",
                "\u4e2d\u56fd\u4eba\u6c11\u5927\u5b66",
                "\u5317\u4eac\u7406\u5de5\u5927\u5b66",
                "\u5357\u5f00\u5927\u5b66",
                "\u5c71\u4e1c\u5927\u5b66",
                "\u5929\u6d25\u5927\u5b66",
                "\u4e2d\u5357\u5927\u5b66",
                "\u5409\u6797\u5927\u5b66",
                "\u897f\u5317\u5de5\u4e1a\u5927\u5b66",
                "\u53a6\u95e8\u5927\u5b66",
                "\u534e\u5357\u7406\u5de5\u5927\u5b66",
                "\u5927\u8fde\u7406\u5de5\u5927\u5b66",
                "\u534e\u4e1c\u5e08\u8303\u5927\u5b66",
                "\u4e2d\u56fd\u519c\u4e1a\u5927\u5b66"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u603b\u5206",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "Bar-\u57fa\u672c\u793a\u4f8b",
            "target": "blank",
            "subtext": "\u6211\u662f\u526f\u6807\u9898",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "showDetail": true,
        "showDataShadow": true,
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_c043c0c5bd524a3f83d5c320620cb5b3.setOption(option_c043c0c5bd524a3f83d5c320620cb5b3);
    </script>
</body>
</html>
