<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="e5f7139ad57347dc9a8b9e5b13f36d21" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_e5f7139ad57347dc9a8b9e5b13f36d21 = echarts.init(
            document.getElementById('e5f7139ad57347dc9a8b9e5b13f36d21'), 'white', {renderer: 'canvas'});
        var option_e5f7139ad57347dc9a8b9e5b13f36d21 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "\u5927\u5b66\u6392\u540d",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                6,
                66
            ],
            "data": [
                {
                    "name": "\u6e05\u534e\u5927\u5b66",
                    "value": 969.2,
                    "textStyle": {
                        "color": "rgb(20,27,147)"
                    }
                },
                {
                    "name": "\u5317\u4eac\u5927\u5b66",
                    "value": 855.3,
                    "textStyle": {
                        "color": "rgb(8,158,160)"
                    }
                },
                {
                    "name": "\u6d59\u6c5f\u5927\u5b66",
                    "value": 768.7,
                    "textStyle": {
                        "color": "rgb(61,157,72)"
                    }
                },
                {
                    "name": "\u4e0a\u6d77\u4ea4\u901a\u5927\u5b66",
                    "value": 723.4,
                    "textStyle": {
                        "color": "rgb(11,155,95)"
                    }
                },
                {
                    "name": "\u5357\u4eac\u5927\u5b66",
                    "value": 654.8,
                    "textStyle": {
                        "color": "rgb(64,59,66)"
                    }
                },
                {
                    "name": "\u590d\u65e6\u5927\u5b66",
                    "value": 649.7,
                    "textStyle": {
                        "color": "rgb(138,0,108)"
                    }
                },
                {
                    "name": "\u4e2d\u56fd\u79d1\u5b66\u6280\u672f\u5927\u5b66",
                    "value": 577.0,
                    "textStyle": {
                        "color": "rgb(78,106,36)"
                    }
                },
                {
                    "name": "\u534e\u4e2d\u79d1\u6280\u5927\u5b66",
                    "value": 574.3,
                    "textStyle": {
                        "color": "rgb(119,158,52)"
                    }
                },
                {
                    "name": "\u6b66\u6c49\u5927\u5b66",
                    "value": 567.9,
                    "textStyle": {
                        "color": "rgb(30,113,40)"
                    }
                },
                {
                    "name": "\u897f\u5b89\u4ea4\u901a\u5927\u5b66",
                    "value": 537.9,
                    "textStyle": {
                        "color": "rgb(15,129,72)"
                    }
                },
                {
                    "name": "\u54c8\u5c14\u6ee8\u5de5\u4e1a\u5927\u5b66",
                    "value": 522.6,
                    "textStyle": {
                        "color": "rgb(81,131,50)"
                    }
                },
                {
                    "name": "\u4e2d\u5c71\u5927\u5b66",
                    "value": 519.3,
                    "textStyle": {
                        "color": "rgb(112,44,115)"
                    }
                },
                {
                    "name": "\u5317\u4eac\u5e08\u8303\u5927\u5b66",
                    "value": 518.3,
                    "textStyle": {
                        "color": "rgb(3,28,95)"
                    }
                },
                {
                    "name": "\u56db\u5ddd\u5927\u5b66",
                    "value": 516.6,
                    "textStyle": {
                        "color": "rgb(48,140,137)"
                    }
                },
                {
                    "name": "\u5317\u4eac\u822a\u7a7a\u822a\u5929\u5927\u5b66",
                    "value": 513.8,
                    "textStyle": {
                        "color": "rgb(77,0,142)"
                    }
                },
                {
                    "name": "\u540c\u6d4e\u5927\u5b66",
                    "value": 508.3,
                    "textStyle": {
                        "color": "rgb(110,155,131)"
                    }
                },
                {
                    "name": "\u4e1c\u5357\u5927\u5b66",
                    "value": 488.1,
                    "textStyle": {
                        "color": "rgb(137,85,137)"
                    }
                },
                {
                    "name": "\u4e2d\u56fd\u4eba\u6c11\u5927\u5b66",
                    "value": 487.8,
                    "textStyle": {
                        "color": "rgb(59,150,27)"
                    }
                },
                {
                    "name": "\u5317\u4eac\u7406\u5de5\u5927\u5b66",
                    "value": 474.0,
                    "textStyle": {
                        "color": "rgb(74,64,13)"
                    }
                },
                {
                    "name": "\u5357\u5f00\u5927\u5b66",
                    "value": 465.3,
                    "textStyle": {
                        "color": "rgb(118,96,49)"
                    }
                },
                {
                    "name": "\u5c71\u4e1c\u5927\u5b66",
                    "value": 447.0,
                    "textStyle": {
                        "color": "rgb(77,56,15)"
                    }
                },
                {
                    "name": "\u5929\u6d25\u5927\u5b66",
                    "value": 444.3,
                    "textStyle": {
                        "color": "rgb(144,67,52)"
                    }
                },
                {
                    "name": "\u4e2d\u5357\u5927\u5b66",
                    "value": 442.2,
                    "textStyle": {
                        "color": "rgb(3,157,99)"
                    }
                },
                {
                    "name": "\u5409\u6797\u5927\u5b66",
                    "value": 435.7,
                    "textStyle": {
                        "color": "rgb(19,55,30)"
                    }
                },
                {
                    "name": "\u897f\u5317\u5de5\u4e1a\u5927\u5b66",
                    "value": 430.5,
                    "textStyle": {
                        "color": "rgb(134,52,59)"
                    }
                },
                {
                    "name": "\u53a6\u95e8\u5927\u5b66",
                    "value": 427.8,
                    "textStyle": {
                        "color": "rgb(85,153,64)"
                    }
                },
                {
                    "name": "\u534e\u5357\u7406\u5de5\u5927\u5b66",
                    "value": 419.8,
                    "textStyle": {
                        "color": "rgb(136,74,125)"
                    }
                },
                {
                    "name": "\u5927\u8fde\u7406\u5de5\u5927\u5b66",
                    "value": 418.2,
                    "textStyle": {
                        "color": "rgb(142,8,10)"
                    }
                },
                {
                    "name": "\u534e\u4e1c\u5e08\u8303\u5927\u5b66",
                    "value": 401.8,
                    "textStyle": {
                        "color": "rgb(2,98,107)"
                    }
                },
                {
                    "name": "\u4e2d\u56fd\u519c\u4e1a\u5927\u5b66",
                    "value": 400.4,
                    "textStyle": {
                        "color": "rgb(111,121,154)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5927\u5b66\u6392\u540d",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false,
            "textStyle": {
                "fontSize": 23
            }
        }
    ]
};
        chart_e5f7139ad57347dc9a8b9e5b13f36d21.setOption(option_e5f7139ad57347dc9a8b9e5b13f36d21);
    </script>
</body>
</html>
